@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary_color;
  color: set-text-color($primary_color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
}

a {
  color: $third_color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary_color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary_color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary_color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary_color, 5);
    padding: 0.5rem;
    border-bottom: $secondary_color 5px solid;
  }
}

// Download Button

/* Layout Styling */

#container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 160px;
  border: 2px solid $third_color;
  margin: 20px 20px 20px 20px;
  color: $secondary_color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Third Button */

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: $third_color;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: $secondary_color;
}

a {
  color: $third_color;
  text-decoration: none;
  letter-spacing: 1px;
}

// Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $third_color solid;

    &:hover {
      opacity: 0.6;
      border-color: $secondary_color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px $third_color solid;
    padding: 1.5rem 2.5rem;
    margin-top: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary_color;
      color: set-text-color($secondary_color);
      span {
        color: set-text-color($secondary_color);
      }
    }
  }
}

// Project Button Styles
.btn {
  display: block;
  padding: 00.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary_color;
    color: set-text-color($secondary_color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary_color, 90);
  color: $third_color;
}

.btn-light {
  @extend .btn;
  background: lighten($primary_color, 90);
  color: $primary_color;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary_color, 10);
  color: set-text-color($primary_color);
  height: 60px;
}

@import "mobile";
